{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"tabWidth": 4,
	"semi": false,
	"plugins": [
		"./plugin.js"
	],
	"lineRefinementsClassPadding": true,
	"lineRefinementsSingleParameterLine": true
}