{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 140,
	"tabWidth": 4,
	"semi": false,
	"plugins": [
		"./index.js"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}